.dailycast {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid rgb(235, 240, 240);
  margin: 0px 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 120px;
  img {
    height: 50px;
  }
  span {
    padding: 3px;
  }
  .dailycast__max {
    font-weight: 700;
  }
}
