.navBar {
  display: flex;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
  .navBar__active {
    input {
      background-color: transparent;
      border: none;
      outline: none;
    }
    .navBar__active-search {
      border: 1px solid rgb(236, 236, 236);
      padding: 5px 10px;
      border-radius: 20px;
      span {
        font-size: 10px;
        padding: 5px;
      }
    }
    .navBar__active-search:hover {
      transform: translateX(2px);
    }
  }
}
