.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  text-align: center;
  background: rgba($color: #ffffff, $alpha: 1);
  border-radius: 0 20px 20px 0;
  min-width: 350px;
}
