.today {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  img {
    height: 45px;
  }
  div {
    padding: 0 5px;
  }
  h4 {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 4px;
  }
  .today__day {
    font-size: 14px;
  }
}
